* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --b-p: #0093FF;
  --b-d: 35, 57, 74;
}

.b-p {
  background: var(--b-p);
}

.b-d {
  background: rgb(var(--b-d));
}

.screen_wrapper {
  background: #000;
  overflow: hidden;
}
.screen_wrapper .bg-img-part {
  width: 550px;
  height: 100vh;
  opacity: 0.23;
  background: #000;
  float: left;
}
@media (max-width: 1000px) {
  .screen_wrapper .bg-img-part {
    display: none;
  }
}
.screen_wrapper .bg-img-part.bg_visible {
  opacity: 1;
  background: transparent;
}
.screen_wrapper .bg-img-part img {
  background: #000;
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.screen_wrapper .login_wrapper {
  width: calc(100% - 550px);
  height: 100vh;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 1000px) {
  .screen_wrapper .login_wrapper {
    width: 100%;
  }
}
.screen_wrapper .login_wrapper .form_action {
  max-width: 400px;
  padding: 25px;
}
.screen_wrapper .login_wrapper .form_action h2,
.screen_wrapper .login_wrapper .form_action p {
  margin: 0px;
  margin-bottom: 12px;
}
.screen_wrapper .login_wrapper .form_action .link_wrapper a {
  font-size: 17px;
  color: #fff;
  margin-bottom: 12px;
  display: inline-block;
  margin-right: 12px;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  padding-top: 5px;
}
.screen_wrapper .login_wrapper .form_action .link_wrapper a.active {
  border-color: #fff;
}
.screen_wrapper .login_wrapper .form_action .form_group .form_control {
  width: 100%;
  padding: 10px 18px;
  border: 0;
  margin-bottom: 12px;
  border-radius: 6px;
  outline: none !important;
  box-shadow: none !important;
}
.screen_wrapper .login_wrapper .form_action .form_group .submit_control {
  margin-top: 10px;
}
.screen_wrapper .login_wrapper .form_action .form_group .submit_control .btn_submit {
  background: #fff;
  padding: 8px 18px;
  font-size: 15px;
  border: none !important;
  border-radius: 6px;
  color: var(--b-p);
  display: inline-block;
  margin-right: 8px;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer;
}
.screen_wrapper .login_wrapper .form_action .form_group .submit_control a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.screen_wrapper .login_wrapper .form_action .form_group .submit_control a:hover {
  text-decoration: underline;
}
.screen_wrapper .login_wrapper .form_action .form_group .social_login {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin-top: 45px;
}
.screen_wrapper .login_wrapper .form_action .form_group .social_login li {
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}
.screen_wrapper .login_wrapper .form_action .form_group .social_login li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.screen_wrapper .login_wrapper .form_action .form_group .social_login li a:hover {
  text-decoration: underline;
}

.b-d-hover-effect {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  transition: 0.3s;
}
.b-d-hover-effect::-moz-placeholder {
  color: inherit;
}
.b-d-hover-effect:-ms-input-placeholder {
  color: inherit;
}
.b-d-hover-effect::placeholder {
  color: inherit;
}
.b-d-hover-effect:hover {
  background: rgb(255, 255, 255);
  color: #000;
}/*# sourceMappingURL=main.css.map */